@import "../../assets/variables.scss";

.footer {
  display: flex;
  justify-content: center;
  text-align: center;
  background: rgba(149, 149, 149, 0.1);

  padding: 40px 0;
}

.footerLogo {
  display: inline-block;
  position: relative;
  a {
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    background-image: $primary-logo;

    font-size: 30px;
    font-weight: 700;
    letter-spacing: 0.03em;
    font-family: "K2D", sans-serif;

    &::before {
      content: "";
      position: absolute;
      inset: 10px;
      background: $primary-logo;
      filter: blur(20px);
      opacity: 0;
      transition: 0.3s ease-in-out;
    }

    &:hover::before {
      opacity: 1;
    }
  }
}

.footerNav {
  padding-top: 50px;
}

.footerNavList ul {
  display: flex;
  gap: 60px;
}

li {
  font-size: 20px;

  a {
    color: $gray;

    &:hover {
      color: transparent;
      background-clip: text;
      background-image: $primary-btn;
      transition: 0.3s ease-in-out;
    }
  }
}

.socialRow {
  padding-top: 50px;

  display: flex;
  justify-content: center;
  gap: 20px;

  li {
    display: flex;
    padding: 8px;
    background: $bg-color;
    border: 0.01em solid white;
    border-radius: 50%;
    transition: 0.3s ease-in-out;

    &:hover {
      background-color: white;

      svg {
        width: 24px;
        height: 24px;
        path {
          fill: orangered;
        }
      }
    }
  }
}

.info {
  padding-top: 50px;
  display: flex;
  justify-content: center;
}

.infoContent {
  display: flex;
  align-items: center;
  gap: 40px;
}

.infoMail {
  display: flex;
  align-items: center;
  gap: 14px;

  p {
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 0.03em;

    color: $gray;
  }
}

.infoPhone {
  display: flex;
  align-items: center;
  gap: 14px;

  p {
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 0.03em;

    color: $gray;
  }
}

.borderLine {
  padding-top: 50px;

  border-bottom: 1px solid $gray;
}

.desc {
  padding-top: 16px;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.03em;

  color: $gray;
}

@media (max-width: 767px) {
  .footerNavList {
    ul {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }
  }

  .socialRow {
    padding-top: 30px;
  }

  .infoContent {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .borderLine {
    padding-top: 30px;
  }

  .desc {
    font-size: 14px;
  }
}
