$primary-btn: linear-gradient(94.36deg, #fd6f00 3.1%, #e46400 94.54%);
$primary-title: linear-gradient(
  90.48deg,
  #984300 0.34%,
  #fd6f00 42.06%,
  #ca5900 90.34%
);
$primary-logo: linear-gradient(90deg, #fa6e00 0%, #e60026 100%);

$primary-input: linear-gradient(90deg, #242322 0%, #222121 100%);
$primary-text: #fd6f00;

$gray: #959595;
$gray-dark: #707070;
$gray-light: #c6c6c6;

$bg-color: #141414;
